### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
reorganized_df = school_data_complete[['school_name','type', 'size', 'budget', 'student_name', 'grade',
       'reading_score', 'math_score' ]]
reorganized_df

,school_name,type,size,budget,student_name,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84
...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,Donna Howard,12th,99,90
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,10th,95,70
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,9th,73,84
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,10th,99,90
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,11th,95,75

In [5]:
renamed_df = reorganized_df.rename(columns={"school_name":"School Name", "type":" School Type", "size": "Size", "budget": "School Budget", "student_name": "Student Name", "grade": "Grade", "reading_score": "Reading Score", "math_score": "Math Score"})
renamed_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84

In [6]:
#count total number of schools
school_count = len(renamed_df["School Name"].unique())
school_count

15

In [7]:
student_count = len(renamed_df["Student Name"].unique())
student_count

32715

In [8]:
avg_math = renamed_df['Math Score'].mean()
avg_math

78.98537145774827

In [9]:
avg_read = renamed_df['Reading Score'].mean()
avg_read

81.87784018381414

In [10]:
passing_rate = (avg_math + avg_read)/2 
renamed_df["Avg Passing Rate"] = passing_rate
passing_rate

80.43160582078121

In [14]:
# Calculating the amount of students who are passing 
# You are going to need to do this for reading score, too
passing_math_count = renamed_df[(renamed_df["Math Score"] >= 70)].count()["Student Name"]
passing_math_count

pass_math_70 = passing_math_count/student_count
renamed_df["% Passing Math"] = pass_math_70
pass_math_70

0.8977533241632278

In [15]:
passing_reading_count = renamed_df[(renamed_df["Reading Score"] >=70)].count()["Student Name"]
passing_reading_count

pass_read_70 = passing_reading_count/student_count
renamed_df["% Passing Reading"] = pass_read_70
pass_read_70

1.0273574812777013

In [17]:
renamed_df

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,Avg Passing Rate,% Passing Math,% Passing Reading
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79,80.431606,0.897753,1.027357
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61,80.431606,0.897753,1.027357
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60,80.431606,0.897753,1.027357
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58,80.431606,0.897753,1.027357
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84,80.431606,0.897753,1.027357
...,...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,Donna Howard,12th,99,90,80.431606,0.897753,1.027357
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,10th,95,70,80.431606,0.897753,1.027357
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,9th,73,84,80.431606,0.897753,1.027357
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,10th,99,90,80.431606,0.897753,1.027357
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,11th,95,75,80.431606,0.897753,1.027357

In [18]:
grouped_by_school_df = renamed_df.groupby(['School Name'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_by_school_df)

# In order to be visualized, a data function must be used...
grouped_by_school_df.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11f52fa20>

,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,Avg Passing Rate,% Passing Math,% Passing Reading
School Name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [19]:
#sum of all school budgets
median_budget = grouped_by_school_df['School Budget'].median()

budget_count = median_budget.sum()
budget_count

24649428

In [21]:
summary_df = pd.DataFrame({"Total Schools": [school_count],
                              "Number of Students": student_count,
                              "Total Budget": budget_count,
                           "Average Math Score": avg_math,
                           "Average Reading Score": avg_read,
                           "Average Passing Rate": passing_rate,
                           "% Passing Math": pass_math_70,
                           "% Passing Reading": pass_read_70
                          })
summary_df

,Total Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
0,15,32715,24649428,78.985371,81.87784,80.431606,0.897753,1.027357

## School Summary

In [22]:
school_name = renamed_df['School Name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [ ]:
#huang_df = renamed_df.loc[renamed_df["School Name"] == "Huang High School", :]
#huang_df.head()

In [ ]:
#figueroa_df = renamed_df.loc[renamed_df["School Name"] == "Figueroa High School", :]
#figueroa_df.head()

In [ ]:
#shelton_df = renamed_df.loc[renamed_df["School Name"] == "Shelton High School", :]
#shelton_df.head()

In [ ]:
#hernandez_df = renamed_df.loc[renamed_df["School Name"] == "Hernandez High School", :]
#hernandez_df.head()

In [ ]:
#griffin_df = renamed_df.loc[renamed_df["School Name"] == "Griffin High School", :]
#griffin_df.head()

In [ ]:
#wilson = renamed_df.loc[renamed_df["School Name"] == "Wilson High School", :]
#wilson.head()

In [ ]:
#cabrera_df = renamed_df.loc[renamed_df["School Name"] == "Cabrera High School", :]
#cabrera_df.head()

In [ ]:
#bailey_df = renamed_df.loc[renamed_df["School Name"] == "Bailey High School", :]
#bailey_df.head()

In [ ]:
#holden_df = renamed_df.loc[renamed_df["School Name"] == "Holden High School", :]
#holden_df.head()

In [ ]:
#pena_df = renamed_df.loc[renamed_df["School Name"] == "Pena High School", :]
#pena_df.head()

In [ ]:
#wright_df = renamed_df.loc[renamed_df["School Name"] == "Wright High School", :]
#wright_df.head()

In [ ]:
#rodriguez_df = renamed_df.loc[renamed_df["School Name"] == "Rodriguez High School", :]
#rodriguez_df.head()

In [ ]:
#johnson_df = renamed_df.loc[renamed_df["School Name"] == "Johnson High School", :]
#johnson_df.head()

In [ ]:
#ford_df = renamed_df.loc[renamed_df["School Name"] == "Ford High School", :]
#ford_df.head()

In [ ]:
#thomas_df = renamed_df.loc[renamed_df["School Name"] == "Thomas High School", :]
#thomas_df.head()

In [23]:
# Determine the School Name & School Type
# Determine the School Type
school_types = renamed_df.set_index(["School Name"],["School Type"])
school_types

,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,Avg Passing Rate,% Passing Math,% Passing Reading
School Name,,,,,,,,,,
Huang High School,District,2917,1910635,Paul Bradley,9th,66,79,80.431606,0.897753,1.027357
Huang High School,District,2917,1910635,Victor Smith,12th,94,61,80.431606,0.897753,1.027357
Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60,80.431606,0.897753,1.027357
Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58,80.431606,0.897753,1.027357
Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84,80.431606,0.897753,1.027357
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,Charter,1635,1043130,Donna Howard,12th,99,90,80.431606,0.897753,1.027357
Thomas High School,Charter,1635,1043130,Dawn Bell,10th,95,70,80.431606,0.897753,1.027357
Thomas High School,Charter,1635,1043130,Rebecca Tanner,9th,73,84,80.431606,0.897753,1.027357
Thomas High School,Charter,1635,1043130,Desiree Kidd,10th,99,90,80.431606,0.897753,1.027357
Thomas High School,Charter,1635,1043130,Carolyn Jackson,11th,95,75,80.431606,0.897753,1.027357

In [31]:

# # Calculate the total student count
per_school_counts = renamed_df["School Name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: School Name, dtype: int64

In [32]:
# # Calculate the total school budget and per capita spending
per_school_budget = renamed_df.groupby(["School Name"]).mean()["School Budget"]
per_school_budget

per_school_capita = per_school_budget / per_school_counts
per_school_capita

# # Calculate the average test scores
per_school_math = renamed_df.groupby(["School Name"]).mean()["Math Score"]
per_school_reading = renamed_df.groupby(["School Name"]).mean()["Reading Score"]

In [33]:
## TODO: get the passing rates
sum_read_70_sorted = renamed_df[(renamed_df["Reading Score"] >=70)].count()["Student Name"]
sum_read_70_sorted


r_percent = sum_read_70_sorted/per_school_counts
r_percent

Bailey High School        6.754421
Johnson High School       7.059441
Hernandez High School     7.251348
Rodriguez High School     8.404601
Figueroa High School     11.397084
Huang High School        11.522112
Ford High School         12.270902
Wilson High School       14.721857
Cabrera High School      18.089343
Wright High School       18.672222
Shelton High School      19.085747
Thomas High School       20.556575
Griffin High School      22.895095
Pena High School         34.937630
Holden High School       78.711944
Name: School Name, dtype: float64

In [34]:
sum_math_70_sorted_df = renamed_df[(renamed_df["Math Score"] >=70)].count()["Student Name"]
sum_math_70_sorted_df.head()

sum_new_student_Mcount = len(sum_math_70_sorted_df['Student Name'].unique())
sum_new_student_Mcount

m_percent = sum_new_student_Mcount/per_school_counts

comb_pass = (per_school_math + per_school_reading)/2

AttributeError: 'numpy.int64' object has no attribute 'head'

In [ ]:
# Convert to DataFrame
school_summary_df = pd.DataFrame({
                        "School Type": school_types,
                       "Number of Students": per_school_counts,
                        "Total Budget": per_school_budget,
                        "Budget per Student": per_school_capita,
                        "Average Math Score": per_school_math,
                        "Average Reading Score": per_school_reading,
                        "Average Passing Rate": comb_pass,
                        "% Passing Math": m_percent,
                        "% Passing Reading": r_percent
                        })
school_summary_df

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
school_summary_df []

for row in df['year']:
    # Add 1 to the row and append it to next_year
    next_year.append(row + 1)

# Create df.next_year
df['next_year'] = next_year

# View the dataframe
df

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.