### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## Cynthia's Data Insights
### Reading scores are overall higher than math but we don't know why. Worthy of investigating. 
### Schools with higher budget/per student do NOT have higher scores overall, budget is not an indicator of success.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#count total number of schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [5]:
student_count = (school_data_complete["School ID"].count())
student_count

39170

In [6]:
avg_math = school_data_complete['math_score'].mean()
avg_math

78.98537145774827

In [7]:
avg_read = school_data_complete['reading_score'].mean()
avg_read

81.87784018381414

In [8]:
passing_rate = (avg_math + avg_read)/2 
passing_rate

80.43160582078121

In [9]:
# Calculating the amount of students who are passing 
# You are going to need to do this for reading score, too
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["School ID"]
passing_math_count

pass_math_70 = (passing_math_count/student_count)*100
pass_math_70

74.9808526933878

In [10]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["School ID"]
passing_reading_count

pass_read_70 = (passing_reading_count/student_count)*100
pass_read_70

85.80546336482001

In [11]:
grouped_by_school_df = school_data_complete.groupby(['school_name'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_by_school_df)

# In order to be visualized, a data function must be used...
grouped_by_school_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11e50ce10>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [12]:
#sum of all school budgets
median_budget = grouped_by_school_df['budget'].median()

budget_count = median_budget.sum()
budget_count

24649428

In [13]:
district_summary = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": student_count,
                              "Total Budget": budget_count,
                           "Average Math Score": avg_math,
                           "Average Reading Score": avg_read,
                           "Average Passing Rate": passing_rate,
                           "% Passing Math": pass_math_70,
                           "% Passing Reading": pass_read_70
                          })
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
0,15,"39,170","$24,649,428.00",78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

In [14]:
school_name = school_data_complete['school_name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [15]:
# Determine the School Name & School Type
school_type = school_data.set_index(["school_name"])["type"]
school_type.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [16]:
# # Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
# # Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

per_school_capita = per_school_budget / per_school_counts
per_school_capita

# # Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
## TODO: get the passing rates
filtered_read_70_df = school_data_complete[(school_data_complete["reading_score"] >=70)]
filtered_read_70_df

read_by_school = filtered_read_70_df.groupby(["school_name"]).sum()["reading_score"]
read_by_school


r_percent = read_by_school/per_school_counts
r_percent

Bailey High School       69.120981
Cabrera High School      81.933262
Figueroa High School     68.440827
Ford High School         67.097116
Griffin High School      81.842643
Hernandez High School    68.316073
Holden High School       81.229508
Huang High School        68.868015
Johnson High School      68.576560
Pena High School         81.247401
Rodriguez High School    67.685171
Shelton High School      80.865417
Thomas High School       81.992049
Wilson High School       81.601840
Wright High School       81.616667
dtype: float64

In [19]:
filtered_math_70_df = school_data_complete[(school_data_complete["math_score"] >=70)]
filtered_math_70_df

math_by_school = filtered_math_70_df.groupby(["school_name"]).sum()["math_score"]
math_by_school

m_percent = math_by_school/per_school_counts
m_percent

Bailey High School       56.348071
Cabrera High School      79.046286
Figueroa High School     55.635470
Ford High School         57.493246
Griffin High School      78.818120
Hernandez High School    56.697950
Holden High School       78.667447
Huang High School        55.332191
Johnson High School      55.978786
Pena High School         80.140333
Rodriguez High School    55.972993
Shelton High School      79.155026
Thomas High School       78.812844
Wilson High School       79.077968
Wright High School       79.108333
dtype: float64

In [20]:
comb_pass = (per_school_math + per_school_reading)/2 
comb_pass

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [21]:
# Convert to DataFrame
school_summary_df = pd.DataFrame({
                       
                        "School Type": school_type,
                       "Number of Students": per_school_counts,
                        "Total Budget": per_school_budget,
                        "Budget per Student": per_school_capita,
                        "Average Math Score": per_school_math,
                        "Average Reading Score": per_school_reading,
                        "Average Passing Rate": comb_pass,
                        "% Passing Math": m_percent,
                        "% Passing Reading": r_percent
                        })

#school_summary_df["Number of Students"] = school_summary_df["Number of Students"].map("{:,}".format)
school_summary_df["Total Budget"] = school_summary_df["Total Budget"].map("${:,.2f}".format)
school_summary_df

,School Type,Number of Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,79.041198,56.348071,69.120981
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,83.518837,79.046286,81.933262
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,78.934893,55.635470,68.440827
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,78.924425,57.493246,67.097116
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,83.584128,78.818120,81.842643
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,79.112082,56.697950,68.316073
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,83.809133,78.667447,81.229508
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,78.906068,55.332191,68.868015
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,79.019429,55.978786,68.576560
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,83.942308,80.140333,81.247401
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,78.793698,55.972993,67.685171
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,83.542589,79.155026,80.865417
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,83.633639,78.812844,81.992049
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,83.631844,79.077968,81.601840
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,83.818611,79.108333,81.616667

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [22]:
top_five_pass = school_summary_df.sort_values("Average Passing Rate", ascending=False)
top_five_pass.head(5)

,School Type,Number of Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,83.942308,80.140333,81.247401
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,83.818611,79.108333,81.616667
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,83.809133,78.667447,81.229508
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,83.633639,78.812844,81.992049
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,83.631844,79.077968,81.601840

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [23]:
bottom_five_pass = school_summary_df.sort_values("Average Passing Rate")
bottom_five_pass.head(5)

,School Type,Number of Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,78.793698,55.972993,67.685171
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,78.906068,55.332191,68.868015
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,78.924425,57.493246,67.097116
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,78.934893,55.635470,68.440827
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,79.019429,55.978786,68.576560

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
ninth_grade = school_data_complete[(school_data_complete["grade"] =="9th")]
ninth_grade.rename(columns={"grade":"9th Grade"})
#average reading score
nine_per_school_math = ninth_grade.groupby(["school_name"]).mean()["math_score"]
nine_per_school_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [25]:
tenth_grade = school_data_complete[(school_data_complete["grade"] =="10th")]
tenth_grade.rename(columns={"grade":"10th Grade"})
ten_per_school_math = tenth_grade.groupby(["school_name"]).mean()["math_score"]
ten_per_school_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [26]:
eleventh_grade = school_data_complete[(school_data_complete["grade"] =="11th")]
eleventh_grade.rename(columns={"grade":"10th Grade"})
eleven_per_school_math = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
eleven_per_school_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [27]:
twelve_grade = school_data_complete[(school_data_complete["grade"] =="12th")]
twelve_grade.rename(columns={"grade":"12th Grade"})
twelve_per_school_math = twelve_grade.groupby(["school_name"]).mean()["math_score"]
twelve_per_school_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [28]:
read_grad_df = pd.DataFrame({
                        
                       "9th Grade": nine_per_school_math,
                        "10th Grade": ten_per_school_math,
                        "11th Grade": eleven_per_school_math,
                        "12th Grade": twelve_per_school_math
                        })
read_grad_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
ninth_grade = school_data_complete[(school_data_complete["grade"] =="9th")]
ninth_grade.rename(columns={"grade":"9th Grade"})
#average reading score
nine_per_school_reading = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
nine_per_school_reading

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [30]:
tenth_grade = school_data_complete[(school_data_complete["grade"] =="10th")]
tenth_grade.rename(columns={"grade":"10th Grade"})
ten_per_school_reading = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
ten_per_school_reading

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [31]:
eleventh_grade = school_data_complete[(school_data_complete["grade"] =="11th")]
eleventh_grade.rename(columns={"grade":"10th Grade"})
eleven_per_school_reading = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
eleven_per_school_reading

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [32]:
twelve_grade = school_data_complete[(school_data_complete["grade"] =="12th")]
twelve_grade.rename(columns={"grade":"12th Grade"})
twelve_per_school_reading = twelve_grade.groupby(["school_name"]).mean()["reading_score"]
twelve_per_school_reading

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [33]:
read_grad_df = pd.DataFrame({
                        
                       "9th Grade": nine_per_school_reading,
                        "10th Grade": ten_per_school_reading,
                        "11th Grade": eleven_per_school_reading,
                        "12th Grade": twelve_per_school_reading
                        })
read_grad_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [34]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [35]:
binning_1 = school_summary_df.drop(["Number of Students","Total Budget", "School Type"], axis=1)

binning_1["Spending Ranges (Per Student)"] = pd.cut(binning_1["Budget per Student"], spending_bins, labels=group_names, include_lowest=True)
binning_1 = binning_1.groupby("Spending Ranges (Per Student)")
binning_1.max()

,Budget per Student,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
Spending Ranges (Per Student),,,,,,
<$585,583.0,83.803279,83.989488,83.818611,79.108333,81.933262
$585-615,609.0,83.839917,84.044699,83.942308,80.140333,81.247401
$615-645,644.0,83.418349,83.848930,83.633639,78.818120,81.992049
$645-675,655.0,77.289752,81.182722,79.112082,56.697950,68.868015

## Scores by School Size

* Perform the same operations as above, based on school size.

In [36]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 3000, 4000, 5000]
group_names = ["Tiny (<1000)", "Small (1000-2000)", "Medium (2001-3000)", "Large (3001-4000)", "X-Large (4001-5000)"]

In [37]:
binning_2 = school_summary_df.drop(["Budget per Student","Total Budget", "School Type"], axis=1)
#binning_2.columns

#binning_2["Number of Students"].dtype
#binning_2['Number of Students'].astype(int)
#binning_2["Number of Students"].dtype

In [38]:
binning_2["School Size (Per Student)"] = pd.cut(binning_2['Number of Students'], size_bins, labels=group_names, include_lowest=True)
binning_2 = binning_2.groupby("School Size (Per Student)")
binning_2.max()

,Number of Students,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
School Size (Per Student),,,,,,
Tiny (<1000),962,83.839917,84.044699,83.942308,80.140333,81.247401
Small (1000-2000),1858,83.682222,83.975780,83.818611,79.155026,81.992049
Medium (2001-3000),2949,83.274201,83.989488,83.631844,79.077968,81.601840
Large (3001-4000),3999,76.842711,80.744686,78.793698,55.972993,67.685171
X-Large (4001-5000),4976,77.289752,81.033963,79.112082,56.697950,69.120981

## Scores by School Type

* Perform the same operations as above, based on school type.

In [42]:
math_scores = school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
math_scores

School Type
Charter     83.473852
District    76.956733
Name: Average Math Score, dtype: float64

In [43]:
#calc avg 
reading_scores = school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
reading_scores

School Type
Charter     83.896421
District    80.966636
Name: Average Reading Score, dtype: float64

In [44]:
overall_M_avg = school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
overall_M_avg

School Type
Charter     79.103295
District    56.208387
Name: % Passing Math, dtype: float64

In [45]:
overall_R_avg = school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
overall_R_avg

School Type
Charter     81.541098
District    68.300678
Name: % Passing Reading, dtype: float64

In [46]:
overall_pass_rate = school_summary_df.groupby(["School Type"]).mean()["Average Passing Rate"]
overall_pass_rate

School Type
Charter     83.685136
District    78.961685
Name: Average Passing Rate, dtype: float64

In [47]:
#create a dataframe key is 
school_type_bin = pd.DataFrame({"Average Math Scores": math_scores,
                               "Average Reading Scores": reading_scores,
                                "% Passing Math": overall_M_avg,
                                "% Passing Reading": overall_R_avg,
                                "Average Passing Rate": overall_pass_rate
                               }
                              )
school_type_bin

,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,Average Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,79.103295,81.541098,83.685136
District,76.956733,80.966636,56.208387,68.300678,78.961685