### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
reorganized_df = school_data_complete[['school_name','type', 'size', 'budget', 'student_name', 'grade',
       'reading_score', 'math_score' ]]
reorganized_df

,school_name,type,size,budget,student_name,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84
...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,Donna Howard,12th,99,90
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,10th,95,70
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,9th,73,84
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,10th,99,90
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,11th,95,75

In [5]:
renamed_df = reorganized_df.rename(columns={"school_name":"School Name", "type":" School Type", "size": "Size", "budget": "School Budget", "student_name": "Student Name", "grade": "Grade", "reading_score": "Reading Score", "math_score": "Math Score"})
renamed_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84

In [7]:
#count total number of schools
school_count = len(renamed_df["School Name"].unique())
school_count

15

In [8]:
student_count = len(renamed_df["Student Name"].unique())
student_count

32715

In [9]:
avg_math = renamed_df['Math Score'].mean()
avg_math

78.98537145774827

In [10]:
avg_read = renamed_df['Reading Score'].mean()
avg_read

81.87784018381414

In [11]:
passing_rate = (avg_math + avg_read)/2 
passing_rate

80.43160582078121

In [12]:
renamed_df.columns

Index(['School Name', ' School Type', 'Size', 'School Budget', 'Student Name',
       'Grade', 'Reading Score', 'Math Score'],
      dtype='object')

In [13]:
#Calculate the percentage of students with a passing math score (70 or greater)
columns = ['School Name', ' School Type', 'Size', 'School Budget', 'Student Name',
       'Grade', 'Reading Score', 'Math Score']
math_70_sorted_df = renamed_df.loc[renamed_df['Math Score'] >= 70, columns]
math_70_sorted_df.head()

new_student_count = len(math_70_sorted_df['Student Name'].unique())
new_student_count

new_M_percent = new_student_count/student_count
new_M_percent

renamed_df["% Passing Math"] = new_M_percent
renamed_df.head(10)

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79,0.777197
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61,0.777197
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60,0.777197
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58,0.777197
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84,0.777197
5,Huang High School,District,2917,1910635,Bryan Miranda,9th,94,94,0.777197
6,Huang High School,District,2917,1910635,Sheena Carter,11th,82,80,0.777197
7,Huang High School,District,2917,1910635,Nicole Baker,12th,96,69,0.777197
8,Huang High School,District,2917,1910635,Michael Roth,10th,95,87,0.777197
9,Huang High School,District,2917,1910635,Matthew Greene,10th,96,84,0.777197

In [24]:
#Calculate the percentage of students with a passing reading score (70 or greater)
#Calculate the percentage of students with a passing math score (70 or greater)
columns = ['School Name', ' School Type', 'Size', 'School Budget', 'Student Name',
       'Grade', 'Reading Score', 'Math Score']
read_70_sorted_df = renamed_df.loc[renamed_df['Reading Score'] >= 70, columns]
read_70_sorted_df.head()

new_student_Rcount = len(read_70_sorted_df['Student Name'].unique())
new_student_Rcount

new_R_percent = new_student_Rcount/student_count
new_R_percent

renamed_df["% Passing Reading"] = new_R_percent
renamed_df["Avg Passing Rate"] = passing_rate

renamed_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79,0.777197,0.873819,80.431606
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61,0.777197,0.873819,80.431606
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60,0.777197,0.873819,80.431606
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58,0.777197,0.873819,80.431606
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84,0.777197,0.873819,80.431606

In [27]:
grouped_by_school_df = renamed_df.groupby(['School Name'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_by_school_df)

# In order to be visualized, a data function must be used...
grouped_by_school_df.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11d29f978>

,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
School Name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [28]:
#sum of all school budgets
median_budget = grouped_by_school_df['School Budget'].median()

budget_count = median_budget.sum()
budget_count

24649428

In [29]:
summary_df = pd.DataFrame({"Total Schools": [school_count],
                              "Number of Students": student_count,
                              "Total Budget": budget_count,
                           "Average Math Score": avg_math,
                           "Average Reading Score": avg_read,
                           "Average Passing Rate": passing_rate,
                           "% Passing Math": new_M_percent,
                           "% Passing Reading": new_R_percent
                          })
summary_df

,Total Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Average Passing Rate,% Passing Math,% Passing Reading
0,15,32715,24649428,78.985371,81.87784,80.431606,0.777197,0.873819

## School Summary

In [33]:
school_name = renamed_df['School Name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [34]:
huang_df = renamed_df.loc[renamed_df["School Name"] == "Huang High School", :]
huang_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79,0.777197,0.873819,80.431606
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61,0.777197,0.873819,80.431606
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60,0.777197,0.873819,80.431606
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58,0.777197,0.873819,80.431606
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84,0.777197,0.873819,80.431606

In [35]:
figueroa_df = renamed_df.loc[renamed_df["School Name"] == "Figueroa High School", :]
figueroa_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
2917,Figueroa High School,District,2949,1884411,Amy Jacobs,10th,85,87,0.777197,0.873819,80.431606
2918,Figueroa High School,District,2949,1884411,Nathan Campbell,12th,97,84,0.777197,0.873819,80.431606
2919,Figueroa High School,District,2949,1884411,Randall Stewart,12th,67,77,0.777197,0.873819,80.431606
2920,Figueroa High School,District,2949,1884411,Jennifer Brown,9th,97,64,0.777197,0.873819,80.431606
2921,Figueroa High School,District,2949,1884411,Denise Lopez,10th,79,64,0.777197,0.873819,80.431606

In [36]:
shelton_df = renamed_df.loc[renamed_df["School Name"] == "Shelton High School", :]
shelton_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
5866,Shelton High School,Charter,1761,1056600,Jamie Montgomery,12th,70,91,0.777197,0.873819,80.431606
5867,Shelton High School,Charter,1761,1056600,Shannon Phillips,10th,84,71,0.777197,0.873819,80.431606
5868,Shelton High School,Charter,1761,1056600,Todd Barber,11th,95,99,0.777197,0.873819,80.431606
5869,Shelton High School,Charter,1761,1056600,Desiree King,12th,76,95,0.777197,0.873819,80.431606
5870,Shelton High School,Charter,1761,1056600,Melissa Roberts,10th,71,82,0.777197,0.873819,80.431606

In [37]:
hernandez_df = renamed_df.loc[renamed_df["School Name"] == "Hernandez High School", :]
hernandez_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
7627,Hernandez High School,District,4635,3022020,Russell Davis,10th,70,88,0.777197,0.873819,80.431606
7628,Hernandez High School,District,4635,3022020,Timothy Walker,12th,97,93,0.777197,0.873819,80.431606
7629,Hernandez High School,District,4635,3022020,Katie Johnston,12th,83,81,0.777197,0.873819,80.431606
7630,Hernandez High School,District,4635,3022020,Joann Oconnell,12th,77,91,0.777197,0.873819,80.431606
7631,Hernandez High School,District,4635,3022020,Sarah Alexander,10th,84,93,0.777197,0.873819,80.431606

In [41]:
griffin_df = renamed_df.loc[renamed_df["School Name"] == "Griffin High School", :]
griffin_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
12262,Griffin High School,Charter,1468,917500,Heather Wright,11th,79,68,0.777197,0.873819,80.431606
12263,Griffin High School,Charter,1468,917500,Elizabeth Goodwin,10th,91,81,0.777197,0.873819,80.431606
12264,Griffin High School,Charter,1468,917500,Michelle Wong,9th,78,89,0.777197,0.873819,80.431606
12265,Griffin High School,Charter,1468,917500,Scott Roth MD,11th,91,85,0.777197,0.873819,80.431606
12266,Griffin High School,Charter,1468,917500,Billy Wilson,12th,76,83,0.777197,0.873819,80.431606

In [42]:
wilson = renamed_df.loc[renamed_df["School Name"] == "Wilson High School", :]
wilson.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
13730,Wilson High School,Charter,2283,1319574,Kelli Anderson,10th,84,71,0.777197,0.873819,80.431606
13731,Wilson High School,Charter,2283,1319574,Russell Ramirez,10th,72,87,0.777197,0.873819,80.431606
13732,Wilson High School,Charter,2283,1319574,Eric Butler,10th,97,82,0.777197,0.873819,80.431606
13733,Wilson High School,Charter,2283,1319574,Warren Kerr,11th,93,68,0.777197,0.873819,80.431606
13734,Wilson High School,Charter,2283,1319574,Gail Hall,9th,79,72,0.777197,0.873819,80.431606

In [44]:
cabrera_df = renamed_df.loc[renamed_df["School Name"] == "Cabrera High School", :]
cabrera_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
16013,Cabrera High School,Charter,1858,1081356,Olivia Short,11th,94,94,0.777197,0.873819,80.431606
16014,Cabrera High School,Charter,1858,1081356,Kerry Jones,9th,98,97,0.777197,0.873819,80.431606
16015,Cabrera High School,Charter,1858,1081356,Bruce Jackson,12th,78,83,0.777197,0.873819,80.431606
16016,Cabrera High School,Charter,1858,1081356,Amy Green,12th,89,92,0.777197,0.873819,80.431606
16017,Cabrera High School,Charter,1858,1081356,Melanie Mason,12th,96,71,0.777197,0.873819,80.431606

In [45]:
bailey_df = renamed_df.loc[renamed_df["School Name"] == "Bailey High School", :]
bailey_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
17871,Bailey High School,District,4976,3124928,Blake Martin,9th,75,59,0.777197,0.873819,80.431606
17872,Bailey High School,District,4976,3124928,Kathryn Kane,12th,84,58,0.777197,0.873819,80.431606
17873,Bailey High School,District,4976,3124928,Richard Haas,11th,79,86,0.777197,0.873819,80.431606
17874,Bailey High School,District,4976,3124928,Frank Marsh,9th,71,89,0.777197,0.873819,80.431606
17875,Bailey High School,District,4976,3124928,Charles Goodman Jr.,9th,90,61,0.777197,0.873819,80.431606

In [46]:
holden_df = renamed_df.loc[renamed_df["School Name"] == "Holden High School", :]
holden_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
22847,Holden High School,Charter,427,248087,Daniel Rodriguez,11th,86,92,0.777197,0.873819,80.431606
22848,Holden High School,Charter,427,248087,Bryan Perkins,9th,91,81,0.777197,0.873819,80.431606
22849,Holden High School,Charter,427,248087,Scott Holder,9th,98,93,0.777197,0.873819,80.431606
22850,Holden High School,Charter,427,248087,Troy Jackson,11th,80,90,0.777197,0.873819,80.431606
22851,Holden High School,Charter,427,248087,William Gomez,9th,76,85,0.777197,0.873819,80.431606

In [47]:
pena_df = renamed_df.loc[renamed_df["School Name"] == "Pena High School", :]
pena_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
23274,Pena High School,Charter,962,585858,Alec Davis,9th,91,75,0.777197,0.873819,80.431606
23275,Pena High School,Charter,962,585858,Michael Meyer,10th,94,76,0.777197,0.873819,80.431606
23276,Pena High School,Charter,962,585858,Donald Gutierrez,11th,98,91,0.777197,0.873819,80.431606
23277,Pena High School,Charter,962,585858,Travis Chavez,11th,78,71,0.777197,0.873819,80.431606
23278,Pena High School,Charter,962,585858,Sheena Ball,12th,87,92,0.777197,0.873819,80.431606

In [48]:
wright_df = renamed_df.loc[renamed_df["School Name"] == "Wright High School", :]
wright_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
24236,Wright High School,Charter,1800,1049400,Aaron Johnson,10th,89,72,0.777197,0.873819,80.431606
24237,Wright High School,Charter,1800,1049400,Kimberly Hamilton,10th,84,93,0.777197,0.873819,80.431606
24238,Wright High School,Charter,1800,1049400,Ashley Johns,10th,88,88,0.777197,0.873819,80.431606
24239,Wright High School,Charter,1800,1049400,Stephanie Donovan,10th,75,84,0.777197,0.873819,80.431606
24240,Wright High School,Charter,1800,1049400,Cynthia Guzman,11th,93,82,0.777197,0.873819,80.431606

In [49]:
rodriguez_df = renamed_df.loc[renamed_df["School Name"] == "Rodriguez High School", :]
rodriguez_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
26036,Rodriguez High School,District,3999,2547363,Sherry Jenkins,11th,74,81,0.777197,0.873819,80.431606
26037,Rodriguez High School,District,3999,2547363,Kimberly Calderon,10th,80,86,0.777197,0.873819,80.431606
26038,Rodriguez High School,District,3999,2547363,William Brady,11th,97,62,0.777197,0.873819,80.431606
26039,Rodriguez High School,District,3999,2547363,Jacob Padilla,11th,79,73,0.777197,0.873819,80.431606
26040,Rodriguez High School,District,3999,2547363,Paula Maldonado,10th,96,92,0.777197,0.873819,80.431606

In [50]:
johnson_df = renamed_df.loc[renamed_df["School Name"] == "Johnson High School", :]
johnson_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
30035,Johnson High School,District,4761,3094650,Lisa Casey,12th,87,87,0.777197,0.873819,80.431606
30036,Johnson High School,District,4761,3094650,Jessica Lopez,9th,98,62,0.777197,0.873819,80.431606
30037,Johnson High School,District,4761,3094650,Anna Wilkins,11th,89,77,0.777197,0.873819,80.431606
30038,Johnson High School,District,4761,3094650,Andrew Smith,9th,66,85,0.777197,0.873819,80.431606
30039,Johnson High School,District,4761,3094650,Robert Allison,11th,63,85,0.777197,0.873819,80.431606

In [51]:
ford_df = renamed_df.loc[renamed_df["School Name"] == "Ford High School", :]
ford_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
34796,Ford High School,District,2739,1763916,Michael Mercado,9th,66,94,0.777197,0.873819,80.431606
34797,Ford High School,District,2739,1763916,Stephen Wolf,11th,68,63,0.777197,0.873819,80.431606
34798,Ford High School,District,2739,1763916,Bonnie Hughes,12th,73,59,0.777197,0.873819,80.431606
34799,Ford High School,District,2739,1763916,Melissa Smith,11th,88,58,0.777197,0.873819,80.431606
34800,Ford High School,District,2739,1763916,Brian Mitchell,10th,96,55,0.777197,0.873819,80.431606

In [52]:
thomas_df = renamed_df.loc[renamed_df["School Name"] == "Thomas High School", :]
thomas_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,% Passing Math,% Passing Reading,Avg Passing Rate
37535,Thomas High School,Charter,1635,1043130,Norma Mata,10th,76,76,0.777197,0.873819,80.431606
37536,Thomas High School,Charter,1635,1043130,Cody Miller,11th,84,82,0.777197,0.873819,80.431606
37537,Thomas High School,Charter,1635,1043130,Erik Snyder,9th,80,90,0.777197,0.873819,80.431606
37538,Thomas High School,Charter,1635,1043130,Tanya Martinez,9th,71,69,0.777197,0.873819,80.431606
37539,Thomas High School,Charter,1635,1043130,Noah Erickson,9th,86,76,0.777197,0.873819,80.431606

In [53]:
school_summary_df = pd.DataFrame({"School Name ": [School Name],
                        "School Type": School Type,
                       "Number of Students": Student Count,
                        "Total Budget": School Budget,
                        "Budget per Student": budget_student
                        "Average Math Score": avg_math,
                        "Average Reading Score": avg_read,
                        "Average Passing Rate": comb_pass
                        "% Passing Math": new_M_percent,
                        "% Passing Reading": new_R_percent})
school_summary_df.head()

SyntaxError: invalid syntax (<ipython-input-53-1bd559e8b7a8>, line 1)

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
school_summary_df []

for row in df['year']:
    # Add 1 to the row and append it to next_year
    next_year.append(row + 1)

# Create df.next_year
df['next_year'] = next_year

# View the dataframe
df

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.