### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
reorganized_df = school_data_complete[['school_name','type', 'size', 'budget', 'student_name', 'grade',
       'reading_score', 'math_score', 'Student ID']]
reorganized_df

,school_name,type,size,budget,student_name,grade,reading_score,math_score,Student ID
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79,0
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61,1
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60,2
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58,3
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84,4
...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,Donna Howard,12th,99,90,39165
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,10th,95,70,39166
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,9th,73,84,39167
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,10th,99,90,39168
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,11th,95,75,39169

In [5]:
renamed_df = reorganized_df.rename(columns={"school_name":"School Name", "type":"School Type", "size": "Size", "budget": "School Budget", "student_name": "Student Name", "grade": "Grade", "reading_score": "Reading Score", "math_score": "Math Score"})
renamed_df.head()

,School Name,School Type,Size,School Budget,Student Name,Grade,Reading Score,Math Score,Student ID
0,Huang High School,District,2917,1910635,Paul Bradley,9th,66,79,0
1,Huang High School,District,2917,1910635,Victor Smith,12th,94,61,1
2,Huang High School,District,2917,1910635,Kevin Rodriguez,12th,90,60,2
3,Huang High School,District,2917,1910635,Dr. Richard Scott,12th,67,58,3
4,Huang High School,District,2917,1910635,Bonnie Ray,9th,97,84,4

In [6]:
#count total number of schools
school_count = len(renamed_df["School Name"].unique())
school_count

15

In [7]:
student_count = len(renamed_df["Student Name"].unique())
student_count

32715

In [8]:

avg_math = renamed_df['Math Score'].mean()
avg_math

78.98537145774827

In [9]:
avg_read = renamed_df['Reading Score'].mean()
avg_read

81.87784018381414

In [10]:
# Calculating the amount of students who are passing 
# You are going to need to do this for reading score, too
passing_math_count = renamed_df[(renamed_df["Math Score"] >= 70)].count()["Student ID"]
passing_math_count

passing_reading_count  = '*/put your code here/*'

In [11]:
passing_rate = (avg_math + avg_read)/2 
passing_rate

80.43160582078121

In [12]:
renamed_df.columns

Index(['School Name', 'School Type', 'Size', 'School Budget', 'Student Name',
       'Grade', 'Reading Score', 'Math Score', 'Student ID'],
      dtype='object')

In [13]:
#Calculate the percentage of students with a passing math score (70 or greater)
columns = ['School Name', ' School Type', 'Size', 'School Budget', 'Student Name',
       'Grade', 'Reading Score', 'Math Score']
math_70_sorted_df = renamed_df.loc[renamed_df['Math Score'] >= 70, columns]
math_70_sorted_df.head()

new_student_count = len(math_70_sorted_df['Student Name'].unique())
new_student_count

new_M_percent = new_student_count/student_count
new_M_percent

renamed_df["% Passing Math"] = new_M_percent
renamed_df.head(10)

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [ ]:
#Calculate the percentage of students with a passing reading score (70 or greater)
#Calculate the percentage of students with a passing math score (70 or greater)
columns = ['School Name', ' School Type', 'Size', 'School Budget', 'Student Name',
       'Grade', 'Reading Score', 'Math Score']
read_70_sorted_df = renamed_df.loc[renamed_df['Reading Score'] >= 70, columns]
read_70_sorted_df.head()

new_student_Rcount = len(read_70_sorted_df['Student Name'].unique())
new_student_Rcount

new_R_percent = new_student_Rcount/student_count
new_R_percent

renamed_df["% Passing Reading"] = new_R_percent
renamed_df["Avg Passing Rate"] = passing_rate

renamed_df.head()

In [ ]:
grouped_by_school_df = renamed_df.groupby(['School Name'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_by_school_df)

# In order to be visualized, a data function must be used...
grouped_by_school_df.count().head()

In [ ]:
#sum of all school budgets
median_budget = grouped_by_school_df['School Budget'].median()

budget_count = median_budget.sum()
budget_count

In [ ]:
summary_df = pd.DataFrame({"Total Schools": [school_count],
                              "Number of Students": student_count,
                              "Total Budget": budget_count,
                           "Average Math Score": avg_math,
                           "Average Reading Score": avg_read,
                           "Average Passing Rate": passing_rate,
                           "% Passing Math": new_M_percent,
                           "% Passing Reading": new_R_percent
                          })
summary_df

## School Summary

In [ ]:
school_name = renamed_df['School Name'].unique()
school_name

In [ ]:
huang_df = renamed_df.loc[renamed_df["School Name"] == "Huang High School", :]
huang_df.head()

In [ ]:
figueroa_df = renamed_df.loc[renamed_df["School Name"] == "Figueroa High School", :]
figueroa_df.head()

In [ ]:
shelton_df = renamed_df.loc[renamed_df["School Name"] == "Shelton High School", :]
shelton_df.head()

In [ ]:
hernandez_df = renamed_df.loc[renamed_df["School Name"] == "Hernandez High School", :]
hernandez_df.head()

In [ ]:
griffin_df = renamed_df.loc[renamed_df["School Name"] == "Griffin High School", :]
griffin_df.head()

In [ ]:
wilson = renamed_df.loc[renamed_df["School Name"] == "Wilson High School", :]
wilson.head()

In [ ]:
cabrera_df = renamed_df.loc[renamed_df["School Name"] == "Cabrera High School", :]
cabrera_df.head()

In [ ]:
bailey_df = renamed_df.loc[renamed_df["School Name"] == "Bailey High School", :]
bailey_df.head()

In [ ]:
holden_df = renamed_df.loc[renamed_df["School Name"] == "Holden High School", :]
holden_df.head()

In [ ]:
pena_df = renamed_df.loc[renamed_df["School Name"] == "Pena High School", :]
pena_df.head()

In [ ]:
wright_df = renamed_df.loc[renamed_df["School Name"] == "Wright High School", :]
wright_df.head()

In [ ]:
rodriguez_df = renamed_df.loc[renamed_df["School Name"] == "Rodriguez High School", :]
rodriguez_df.head()

In [ ]:
johnson_df = renamed_df.loc[renamed_df["School Name"] == "Johnson High School", :]
johnson_df.head()

In [ ]:
ford_df = renamed_df.loc[renamed_df["School Name"] == "Ford High School", :]
ford_df.head()

In [ ]:
thomas_df = renamed_df.loc[renamed_df["School Name"] == "Thomas High School", :]
thomas_df.head()

In [ ]:
# school_summary_df = pd.DataFrame({"School Name ": [School Name],
#                         "School Type": School Type,
#                        "Number of Students": Student Count,
#                         "Total Budget": School Budget,
#                         "Budget per Student": budget_student
#                         "Average Math Score": avg_math,
#                         "Average Reading Score": avg_read,
#                         "Average Passing Rate": comb_pass
#                         "% Passing Math": new_M_percent,
#                         "% Passing Reading": new_R_percent})
# school_summary_df.head()

In [27]:
# Determine the School Type
school_types = renamed_df.set_index(["School Name"])["School Type"]


# # Calculate the total student count
per_school_counts = renamed_df["School Name"].value_counts()


# # Calculate the total school budget and per capita spending
per_school_budget = renamed_df.groupby(["School Name"]).mean()["School Budget"]


per_school_capita = per_school_budget / per_school_counts

# # Calculate the average test scores
per_school_math = renamed_df.groupby(["School Name"]).mean()["Math Score"]
per_school_reading = renamed_df.groupby(["School Name"]).mean()["Reading Score"]

## TODO: get the passing rates

# Convert to DataFrame
per_school_summary = pd.DataFrame({"School Type": school_types
                                  ## TODO add your other columns here! 
                                  })

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
school_summary_df []

for row in df['year']:
    # Add 1 to the row and append it to next_year
    next_year.append(row + 1)

# Create df.next_year
df['next_year'] = next_year

# View the dataframe
df

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.